<div
  class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12"
>
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10"
    >
      <div class="max-w-md mx-auto">
        <div class="flex items-center space-x-5">
          <div
            class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-500 text-2xl font-mono"
          >
            i
          </div>

          <div
            class="block pl-2 font-semibold text-xl self-start text-gray-700"
          >
            <h2 class="leading-relaxed">Edit Staff</h2>

            <p class="text-sm text-gray-500 font-normal leading-relaxed">
              Please provide the details of the staff in this form.
            </p>
          </div>
          <div class="object-none h-10 w-10 object-right-top cursor-pointer">
            <img
              (click)="deleteUSerFromLocalStorage()"
              routerLink="/home/staffs"
              src="https://www.svgrepo.com/show/55189/cancel.svg"
            />
          </div>
        </div>
        <div class="divide-y divide-gray-200">
          <form [formGroup]="myForm">
            <br /><br />
            <mat-form-field appearance="outline" class="h-5 w-full">
              <mat-label>Name</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error class="text-xs" *ngIf="myForm.invalid"
                >Enter a valid name</mat-error
              > </mat-form-field
            ><br /><br /><br />
            <mat-form-field appearance="outline" class="h-5 w-full">
              <mat-label>Email Id</mat-label>
              <input
                type="email"
                matInput
                formControlName="username"
                placeholder="abc@example.com"
              />
              <mat-error class="text-xs" *ngIf="myForm.invalid"
                >Enter a valid email id</mat-error
              > </mat-form-field
            ><br /><br /><br />
            <div class="flex flex-col" style="font-size: 12px">
              <mat-form-field appearance="outline" class="w-full h-5">
                <mat-label>Department</mat-label>
                <mat-select formControlName="department">
                  <mat-option value="ECE">ECE</mat-option>
                  <mat-option value="EEE">EEE</mat-option>
                  <mat-option value="CSE">CSE</mat-option>
                  <mat-option value="MECH">MECH</mat-option>
                  <mat-option value="CIVIL">CIVIL</mat-option>
                </mat-select>
                <mat-error class="text-xs" *ngIf="myForm.invalid"
                  >Select department</mat-error
                >
              </mat-form-field>
            </div>
            <br />
            <br /><br />
            <div class="flex flex-col" style="font-size: 12px">
              <mat-form-field appearance="outline" class="w-full h-5">
                <mat-label>Choose an option</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
                <mat-error class="text-xs" *ngIf="myForm.invalid"
                  >Select gender</mat-error
                >
              </mat-form-field>
            </div>
            <br /><br /><br />

            <mat-form-field appearance="outline" class="h-5 w-full">
              <mat-label>Phone</mat-label>
              <input type="text" matInput formControlName="phone" />
              <mat-error class="text-xs" *ngIf="myForm.invalid"
                >Enter a phone number</mat-error
              > </mat-form-field
            ><br /><br /><br />
            <div class="flex flex-col" style="font-size: 12px">
              <mat-form-field appearance="outline" class="w-full h-5">
                <mat-label>DOB</mat-label>
                <input type="date" matInput formControlName="dob" />
                <mat-error class="text-xs">Select the date</mat-error>
              </mat-form-field>
            </div>
            <div></div>
            <br /><br /><br />
            <button
              (click)="editStaff()"
              class="bg-green-400 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none"
            >
              SAVE
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
